.videogallerybg.mat-card{background:url(../../../../../assets/images/videogallerybg.jpg) no-repeat top right;background-size:cover}
.video-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0}
.video-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute;z-index: 9;}

.video_icon {
    background-image: url(../../../../../assets/images/video_icon.png);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}
.img_icon {
    position: absolute;
    opacity: 0;
    width: 60px;
    height: 60px;
    background-position: center center !important;
    background-repeat: no-repeat;    
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.video-responsive img{
    position: absolute;
    z-index: 99;
}

.readmoredesc{display: flex; align-items: center; justify-content: space-between;}
/* .readmoredesc span{margin-left: 10px;} */


.viewalleventbtn {
    display: block!important;
    background: #03aed4!important;
    border: none!important;
    font-size: 16px!important;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'HelveticaBold'!important;
    text-decoration: none!important;
    line-height: normal!important;
    text-align: center!important;
    margin: 5px 0!important;
    border-radius: 0;
    width: 100%!important;
    text-decoration: none!important;
    box-shadow: none!important;
    padding: 15px 5px 10px!important;
}