
<mat-card class="newsletter_modal newsletter_modalnew">
    <h2 class="reviewmodalh2">Submit your review here</h2>

    <form [formGroup]="testimonialReviewForm">

        <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" (blur)="inputBlur('name')">
        <mat-error *ngIf="!testimonialReviewForm.controls['name'].valid
                                && testimonialReviewForm.controls['name'].errors.required">Name is
                          required.
                        </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" (blur)="inputBlur('email')">
            <mat-error *ngIf="!testimonialReviewForm.controls['email'].valid
                                && testimonialReviewForm.controls['email'].errors.required">Email is
                          required.
                        </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Phone no." formControlName="phone" (blur)="inputBlur('phone')">
            <mat-error *ngIf="!testimonialReviewForm.controls['phone'].valid
            && testimonialReviewForm.controls['phone'].errors.required">Phone is
      required.
    </mat-error>
        </mat-form-field>



        <!-- <mat-form-field>
          <textarea matInput placeholder="Description " formControlName="description" (blur)="inputBlur('description')"></textarea>
          <mat-error *ngIf="!testimonialReviewForm.controls['description'].valid
          && testimonialReviewForm.controls['description'].errors.required">Description is
    required.
  </mat-error>
      </mat-form-field> -->


        <mat-form-field>
            <!-- <input matInput placeholder="Your Review " formControlName="description" (blur)="inputBlur('description')"> -->

            <textarea matInput placeholder="Your Review " formControlName="description" (blur)="inputBlur('description')"></textarea>
            <mat-error *ngIf="!testimonialReviewForm.controls['description'].valid
            && testimonialReviewForm.controls['description'].errors.required">Review is
      required.
    </mat-error>
        </mat-form-field>

        <span>
            <h3 style="text-align: left; margin: 0; padding: 2px 0 0 0;">Image</h3>
           <lib-file-upload  [config]="configData"></lib-file-upload>
        </span> 
       
        <button type="button" class="Record_subbtn" (click)="openVideo();">Record Video </button>
        <button type="button" class="Record_subbtn" (click)="openaudio();">Record Audio </button>


        <!-- audio record section -->
        <span  *ngIf="audio==true">
          <button class="start-button" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
          <button class="stop-button" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
          <button class="cancel-button" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
          <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
          <audio *ngIf="!isRecording && blobUrl"  controls>
            <source [src]="blobUrl" type="audio/webm">
          </audio>
          <button type="button" mat-button   (click)="onClick()">Upload</button>
        </span>
         <!-- audio record section end here-->


         <!-- video record section start here-->
         <span *ngIf="vdo==true">
          <div class="row">
            <div class="col-xs-12">
              <video #video class="video"></video>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" md-raised-button  (click)="startVideoRecording()"> Record </button>
              <button type="button" md-raised-button (click) ="stopVideoRecording()"> Stop</button>
              <button type="button" md-raised-button  (click)="download()"> Download</button>
              <button type="button" md-raised-button  (click)="onClick()"> Upload</button>
            </div>
          </div>
         </span>


<span class="clearboth"></span>
        
        <button mat-button (click)="submitfunction();">Submit</button>

        <button mat-button   [mat-dialog-close]="data" cdkFocusInitial class="Record_Cancel">Cancel</button>

    </form>

</mat-card>