<app-header></app-header>
<mat-card class="innerpagebanner innercommonbannercls">
  <span class="mainwrappercontent">
    <mat-card-content>
      <h1>Service Details</h1>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-40 generalcls blog bloglist blogdetail">
    <span class="mainwrappercontent">
      <span class="bloglistinner">
        <span class="bloglistswrapper">
          <mat-card-content class="bottom_blog">
            <span class="item_wrapper">
              <!-- <mat-card-content class="item"> -->
              <mat-card-content class="item" >
                
               
                <mat-card-content class="contentsection">  
                  <span>
                    <mat-card-title class="blogtitle">{{serviceListConfig.service_title}} <span class="small"></span></mat-card-title>
                    <!-- <mat-card-title class="blogtitle">Employee Training </mat-card-title> -->
                  </span>                
                  <span class="blogsociallists">
  
                    <a class="sociallink fa fb" target="_blank" (click)="fbShare(serviceListConfig)">
                      <fa name="facebook" class="fa-facebook"></fa>
                    </a>
                    <a class="sociallink fa twi" target="_blank" (click)="twitterShare(serviceListConfig)">
                      <fa name="twitter" class="fa-twitter"></fa>
                    </a>
                    <a class="sociallink fa lin" target="_blank" (click)="linkedinShare(serviceListConfig)">
                      <fa name="linkedin" class="fa-linkedin"></fa>
                    </a>
                    <a class="sociallink fa tumblr" target="_blank" (click)="tumblrShare(serviceListConfig)">
                      <fa name="tumblr" class="fa-tumblr"></fa>
                    </a>
                  </span>
                </mat-card-content>
                <span class="item_images">
                  <img [src]="serviceListConfig.service_img">
                </span>
                <p>
                  <span class="description"><span [innerHtml]="serviceListConfig.additional_details"></span></span>
                </p>
              </mat-card-content>
            </span>
          </mat-card-content>

          <button (click)="backbutton()" class="btnblue" >Back to Our Services</button>
         
  
          
        </span>        
      </span>
    </span>
</mat-card>      

<app-footer></app-footer>