

    <owl-carousel [options]="carouselOptions" [items]="TestimonialListArray" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <!----START SINGLE TESTIMONIAL-->

        <div *ngFor="let image of TestimonialListArray;let i= index">
           <!-- video -->
            <span *ngIf="image.video_url!=null && image.video_url!=''">
              
              <span (click)="fetchvideo()" *ngIf="hideSpan==true">
                <img class="videoimage" src="https://img.youtube.com/vi/{{image.video_url}}/sddefault.jpg">
              <!-- <img class="playicon" src="../../../assets/images/youtubevideoicon.png"> -->
              </span>

              <ng-container *ngIf="youtubeFlage==true">
                <iframe width="420" height="315" [src]="image.video_full" allow="autoplay"></iframe>
              </ng-container>
              
            </span>

          <span  *ngIf="image.video_url==null">


            <span class="slide-image-wrapper">
            <span class="slide-image-wrapper-main" > 
                <img class="slide-image" src="{{image.testimonial_img}}" >
            </span>  

          </span>  

            <span class="slide-audio-wrapper-main" *ngIf="image.testimonial_audio!=null && image.testimonial_audio!=''"> 
              <audio controls controlsList="nodownload">
                <source src="{{ image.testimonial_audio }}" type="audio/ogg">
                <source src="{{ image.testimonial_audio }}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
          </span>  




          </span>



          
          <span class="slide-text">
              <p class="quatation demo cursor">
                <!-- <span [innerHtml]="image.testimonial"></span> -->
                <img class="quotestarticon" src="../../../../assets/images/quotestart-icon-yellow.png"><span [innerHtml]="image.description"></span>
              </p>    
          </span>
          <h3 class="title1"> -- {{image.name}}</h3>
          <!-- <button *ngIf="image.video_url!=null && image.video_url!=''">video</button> -->
          <span class="homeblogsociallistswrapper">
            <span class="blogsociallists">
              <a class="sociallink fa fb" (click)="fbTestimonialShare(image)"><fa name="facebook" class="fa-facebook"></fa></a>
              <a class="sociallink fa twi" (click)="twitterTestimonialShare(image)"><fa name="twitter" class="fa-twitter"></fa></a>
              <a class="sociallink fa lin" (click)="linkedinTestimonialShare(image)"><fa name="linkedin" class="fa-linkedin"></fa></a>
              <a class="sociallink fa tumblr" (click)="tumblrTestimonialShare(image)"><fa name="tumblr" class="fa-tumblr"></fa></a>
            </span>
          </span>
        </div>  
        <!----END SINGLE TESTIMONIAL-->     
        
      </owl-carousel>

